.chat {
    width: 100%;
    top: 65px;
    height: 100%;
    width: 325px;
    left: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    position: fixed;
    background-color: #1a1d20;
    border-right: #ffffff17 0.5px solid;
}

.mainchat {
    position: absolute;
    color: white;
    background-color: #1b1d26;
    border: rgba(255, 255, 255, 0.144) 0.5px solid;
    top: 30px;
    width: calc(100% - 24px);
    left: 12px;
    height: 65px;
    border-radius: 4px;
    display: flex;
}

.mainchattext {
    position: fixed;
    left: 25px;
    color: gray;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: large;
    top: 90px;
}

.mainchatimage {
    position: fixed;
    height: 15px;
    top: 135px;
    left: 25px;
}

.onlinecount {
    position: fixed;
    top: 120px;
    left: 50px;
    color: rgb(70, 133, 184);
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: large;
}


.chatinput {
    position: absolute;
    color: white;
    background-color: #1a1d20;
    border: rgba(211, 211, 211, 0.15) 2.5px solid;
    bottom: 115px;
    width: calc(100% - 24px);
    left: 12px;
    height: 35px;
    border-radius: 7px;
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-size: smaller;
    font-weight: 1000;

    /* Border geçiş animasyonu */
    transition: border-color 0.3s ease;
}

.chatinput input {
    font-weight: 10;
}

.chatinput {
    font-weight: 1000;
}


/* Hover olunca border mavi olacak */
.chatinput:hover {
    border-color: rgba(33, 130, 209, 0.8);
}

/* Focus olunca border mavi kalacak */
.chatinput:focus {
    border-color: rgba(33, 130, 209, 0.8);
    outline: none; /* mavi outline yerine sadece border */
}

.sendbtn {
    position: absolute;
    color: rgb(0, 0, 0);
    background-color: lightgray;
    border: rgba(211, 211, 211, 0.5) 0px solid;
    bottom: 80px;
    width: calc(100% - 16px);
    left: 12px;
    height: 25px;
    border-radius: 7px;
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-size: larger;
    font-weight: 1000;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}