.cfcontainer {
    width: calc(100% - 378px); /* sidebar genişliği kadar çıkar */
    left: 353px;               /* sidebarın hemen yanında başla */
    box-sizing: border-box;
    border: #fff 0px solid;
    top: 365px;
    position: absolute;
    height: 1000px;
}



@media (max-width: 1305px) {
.cfcontainer {
    width: calc(100% - 60px); /* ekran genişliği - sidebar */
    box-sizing: border-box;
    border: #fff 0px solid;
    top: 365px;
    position: absolute;
    left: 30px;
    height: 1500px;
}

}

@media (max-width: 415px) {
.cfcontainer {
    width: calc(100% - 60px); /* ekran genişliği - sidebar */
    box-sizing: border-box;
    border: #fff 0px solid;
    top: 365px;
    position: absolute;
    left: 30px;
    height: 1500px;
}

}